// Problem: {{ contest_number }}{{ problem_letter_upper }}. {{ problem_title }}
// Problem statement: https://codeforces.com/problemset/problem/{{ contest_number }}/{{ problem_letter_upper }}?locale=en
// Solution author: Artem Zhurikhin (https://codeforces.com/profile/Ashpool)
// Solution license: the Unlicense (Public Domain)
// More solutions: https://github.com/ashpool37/codeforces-cxx20

#include <iostream>

template<typename T>
auto from_istream(std::istream& ins)
{
    T res;
    ins >> res;
    return res;
}

int main() {
    unsigned test_count = std::from_istream<unsigned>(std::cin);
    while(test_count--) {
        
    }
}
