# {{ contest_number }}{{ problem_letter_upper }}. {{ problem_title }}

[Problem statement on Codeforces](https://codeforces.com/problemset/problem/{{ contest_number }}/{{ problem_letter_upper }}?locale=en).